/*MAIN SHIT*/
body {    
}
.container{
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 15px;
    width:960px;
    margin:auto;
    margin-top:15px;
    line-height: 100%;
}
p {
    line-height: 100%;
    padding: 0px;
    margin: 5px;
}
/*UTILITARE*/
.right{
    float:right;
}
.left{	
    float:left
}
/*HEADER AND LOGIN*/
header {
    color: #E9633B;
    background-color: #ECEAE0;
    
}
/*POP-UP*/
#pop-up4a { 
    display:none;
    position:absolute;
    width: 960px;
    height:200px;
    padding: 0px;		
    top:200px;
    background: #ECEAE0;
    color: #E9633B;
    line-height: 100%;
}

.answer{
  
    text-align:center;
    width:430px;
    height:30px;
    padding:0px;
    margin: 10px;
    background: #63AA9C;
}
p#question{
    padding:0px;
    text-align:center;
    font-size: 30px;
    padding:auto;
}
/*Score*/
#score
{
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}
#casuta
{
    display:inline;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 220px;
    background-color: #ECEAE0;
    color: #63AA9C;
    float:left
    
;    
    -webkit-border-radius: 8px;  
    -moz-border-radius: 8px;  
    border-radius: 8px;
}