/*MAIN SHIT*/
body {    
}
.container{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 15px;
    width:960px;
    margin:auto;
    margin-top:15px;
}
p {
}
/*UTILITARE*/
.right{
    float:right;
}
.left{	
    float:left
}
/*HEADER AND LOGIN*/
header {
    color:#E9633B;
    background-color: #ECEAE0;
    
}
/*POP-UP*/
div#pop-up { 
    display:none;
    position:absolute;
    width: 960px;
    height:200px;
    padding: 0px;		
    top:200px;
    background: #ECEAE0;
    color: #E9633B;
 
}
.answer{
  
    text-align:center;
    width:430px;
    height:30px;
    padding:0px;
    margin:10px;
    background:#63AA9C;
}
p#question{
    padding:0px;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    padding:auto;
}
